.background{
    background: rgba(109, 5, 61, 1);
}

.button_custom{
    background: rgba(213, 171, 55, 1);
    border: none;
    gap: 15px;
    border-radius: 16px;
    padding: 16px 16px 16px 17px;
}